@import '@fontsource/ibm-plex-sans/latin.css';

:root {
	--default-padding: 4rem;
	--mobile-padding-offset: 0.7;

	--fs-tiny: clamp(.35rem, 3vw, .7rem);
	--fs-small: clamp(.8rem, 3vw, 1.6rem);
	--fs-medium: clamp(1.5rem, 3vw, 3rem);
	--fs-large: clamp(2.5rem, 3vw, 5rem);
}

body {
	margin: 0;
	background-size: 100vw 100vh;
	background-color: black;
}

bodycopy {
	font-size: var(--fs-small);
	font-weight: 400;
	color: rgba(255, 255, 255, 0.9);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	line-height: 1.4;
	letter-spacing: 0;
	display: block;
}

bodycopy a {
	color: rgba(255, 255, 255, 0.9);
	border-bottom: 0px solid rgba(127, 127, 127, 0.2);
	text-decoration: none;
}

h1 {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 700;
	margin: 0;
	font-size: var(--fs-large);
	line-height: 1;
	color: #ffffff;
	letter-spacing: 0.1em;
	display: block;
}

h1 a {
	text-decoration: none;
	color: #ffffff;
}

h2 {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 600;
	margin: 0;
	color: #ffffff;
	font-size: var(--fs-medium);
	line-height: 1.35;
	letter-spacing: 0.1em;
	display: block;
}

h2 a {
	color: #ffffff;
	text-decoration: none;
}

h3 {
	font-size: var(--fs-tiny);
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	line-height: 1;
	letter-spacing: 0.25em;
	display: block;
}

h3 a {
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.5);
}